---
title:縮略圖擦洗
parent: Home
description: "Thumbnail scrubbing allows users to drag the playhead along the timeline and view thumbnails as a preview of the associated content. "
layout: staging 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
    
  <section class="card-wrapper">
    {% for item in site.data.navigation %} {% if item.name == page.title %} {% for subsection in item.docs %}
            <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
              <div class="card-content">
                <h2>{{ subsection.name }}</h2>
                <ul>
                  {% for doc in subsection.docs %}
                        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
        {% endfor %} {% endif %} {% endfor %}
    <!-- remove sections below when this goes live -->
    <section class="bcls-card-small" onclick="window.location.href='/playback-authorization/getting-started/index.html'">
      <div class="card-content">
        <h2>指南</h2>
        <ul>
         <li>
           <a href="https://player.support.brightcove.com/plugins/thumbnails-plugin.html">使用Brightcove Player進行縮略圖擦洗</a>
          </li>
         <li>
           <a href="https://sdks.support.brightcove.com/features/thumbnail-scrubbing-native-sdks.html">使用本機SDK進行縮略圖清理</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- end removal -->
  </section>
</article>